:root {
  --brand: #151718;
  --sub: #6ac754;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading_container h2::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #f1db25;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container.heading_center h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*header section*/
.hero_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_bg_box .img-box {
  width: 100%;
}

.hero_bg_box .img-box img {
  min-width: 100%;
  min-height: 100%;
}

.hero_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.35)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35));
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding-bottom: 21px;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding: 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_top {
  background-color: #1c1c1c;
  padding: 15px 0;
}

.header_top .contact_link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top .contact_link-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 15px;
}

.header_top .contact_link-container a i {
  font-size: 20px;
  color: #f1db25;
  margin-right: 5px;
}

#navbarSupportedContent {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 0;
  padding: 10px 15px 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #1c1c1c;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

.custom_nav-container .navbar-toggler{
  outline: none;
} 

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/


/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
  width: 100%;
  margin: 0 auto;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
}

.slider_section .detail-box h1 span.sub-head{
  color: #f1db25;
}

.slider_section .detail-box p {
  margin-top: 25px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.slider_section .detail-box .btn-box a {
  width: 180px;
  text-align: center;
  margin: 5px;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}

.slider_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .idicator_container {
  position: relative;
}

.slider_section ol.carousel-indicators {
  margin: 0;
  bottom: -75px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider_section ol.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  background-color: #f1db25;
  opacity: 1;
  border: none;
  margin: 0 4px;
  cursor: pointer;
  transition: all 1s;
}

.slider_section ol.carousel-indicators li.active {
  background-color: #ffffff;
  scale: 0.7;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .header_bottom {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .sticky-wrapper .header_bottom .navbar-toggler span{
  color: #ffffff; }
  .sticky-wrapper .header_bottom .site-logo a {
  color: #ffffff; }
  .sticky-wrapper .header_bottom .navbar-nav > li > a {
  color: rgb(255, 255, 255) !important; }
  .sticky-wrapper .header_bottom .navbar-nav > li > a:hover, .sticky-wrapper .header_bottom .navbar-nav > li > a.active {
  color: #ffffff !important; }
  .sticky-wrapper.is-sticky .header_bottom {
  /* background: #000000; */
  background: #ffffff;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
  .sticky-wrapper.is-sticky .navbar-toggler span{
  background-color: black; }
  .sticky-wrapper.is-sticky .navbar-toggler span::after{
  background-color: black; }
  .sticky-wrapper.is-sticky .navbar-toggler span::before{
  background-color: black; }
  .sticky-wrapper.is-sticky .header_bottom .site-logo a {
  /* color: #ffffff; */
  color: black; }
  .sticky-wrapper.is-sticky a.active {
    color: white;
  }
  .sticky-wrapper.is-sticky .header_bottom .navbar-nav > li > a {
  /* color: #ffffff !important; */
  color: black !important;
  /* padding: 20px 20px; */
  /* margin-bottom: 20px; */
 }
  .sticky-wrapper.is-sticky .header_bottom .navbar-nav > li > a:hover, .sticky-wrapper.is-sticky .header_bottom .navbar-nav > li > a.active {
  color: white !important; }
  .sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

  
.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img_container .img-box img {
  width: 100%;
}

.about_section .detail-box {
  background-color: #ffffff;
  padding: 45px 25px;
  /* -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  border-radius: 5px;
  /* margin-left: -45px; */
}
.about_section .detail-box-1 {
  margin-left: -45px;
}
.about_section .detail-box-2 {
  margin-right: -45px;
}

.about_section .detail-box p {
  margin-top: 5px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}


.logo{
  max-height: 60px;
}

.service{
  background-color: #1c1c1c;
}

.service-box-img-1{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/it.avif") no-repeat center 0/cover;
}
.service-box-img-2{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/banking.avif") no-repeat center 0/cover;
}
.service-box-img-3{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/logistics.jpg") no-repeat center 0/cover;
}
.service-box-img-4{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/php.jpg") no-repeat center 0/cover;
}
.service-box-img-5{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/python.avif") no-repeat center 0/cover;
}
.service-box-img-6{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/java.jpg") no-repeat center 0/cover;
}
.service-box-img-7{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/devops.avif") no-repeat center 0/cover;
}
.service-box-img-8{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/cloud.jpg") no-repeat center 0/cover;
}

.service-box-content{
  background-color: #1c1c1c;
}

.service-box-content h2{
  color: #ffffff;
}
.service-box-content p{
  color: #ffffff;
}

.client_section {
  padding-bottom: 150px;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.client_section .box {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px;
}

.client_section .box .img-box {
  width: 60px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.client_section .box .detail-box h5 span {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  color: #fec016;
}

.client_section .box .detail-box img {
  width: 15px;
  margin: 35px 0;
}

.client_section .carousel-wrap {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.client_section .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  /* top: 100%; */
  bottom: 0px;
  color: #cdcbcd;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-color: #000000;
  background-size: 16px;
  background-position: center;
  border-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -75px;
  outline: none;
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.client_section .owl-carousel .owl-nav .owl-prev {
  background-image: url(../img/image-2/prev.png);
  left: 50%;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
}

.client_section .owl-carousel .owl-nav .owl-next {
  right: 50%;
  background-image: url(../img/image-2/next.png);
  -webkit-transform: translateX(102%);
          transform: translateX(102%);
}

.client_section .owl-carousel .owl-dots.disabled,
.client_section .owl-carousel .owl-nav.disabled {
  display: block;
}

.client_section .owl-item.active.center .box {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-toggler {
    margin-bottom: 15px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    margin: 5px 0;
  }

  .custom_nav-container.navbar-expand-lg .form-inline {
    justify-content: center;
  }

  .custom_nav-container.navbar-expand-lg {
    padding-top: 10px;
    align-items: center;
  }

  .slider_section {
    padding: 45px 0 150px 0;
  }

  .sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 15px;
  }
  .header_top{
    display: none;
  }
  .service-box-img{
    height: 300px;
  }
  .service-box-img{
    order: 0;
  }
  .service-box-content{
    order: 1;
  }
  .contact-details{
    padding: 50px 0;
  }
  .sticky-wrapper .header_bottom .navbar-nav > li > a {
    color: rgb(0, 0, 0) !important; }
  .sticky-wrapper .header_bottom .navbar-nav{
    background-color: #ffffff;
  }
}

@media (max-width: 768px) {
  .slider_section ol.carousel-indicators {
    justify-content: center;
  }

  .slider_section {
    text-align: center;
  }

  .slider_section .img-box {
    margin-top: 35px;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
    flex-wrap: wrap;
  }

  .about_section .heading_container {
    margin-bottom: 0;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .about_section .detail-box {
    margin-left: 0;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }

  .service_section .service_container {
    flex-wrap: wrap;
  }

  .client_section .carousel_btn-box {
    margin-top: 25px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    transform: none;
    margin: 0 2.5px;
  }

  .info_section .row .col-md-3 {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .info_section .info_logo {
    align-items: center;
  }

  .info_section .info_form .social_box {
    justify-content: center;
  }

  .info_section .info_form .social_box a {
    margin: 0 5px;
  }
}

@media (max-width: 576px) {
  .slider_section .detail-box h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.contact-img{
  background: linear-gradient(rgba(2, 26, 54, 0), rgba(2, 26, 54, 0)), url("../img/image-2/contact.jpg") no-repeat center;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;
}
.contact{
  overflow: hidden;
  background: #1c1c1c;
}
.contact-details h2, .contact-details p, .contact-details i{
  color: #ffffff;
}
.contact-box{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.career-box{
  height: 100%;
  padding: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.career-box p, .career-box li{
  font-size: 14px;
}

@media (max-width:500px) {
  .career-box{
    padding: 30px;
  }
}